data/all_pos.csv
data/all_neg.csv
data/all.csv
data/X.csv
data/npy/X.npy
data/npy/y.npy
data/test_csv
data/test_db
data/test_single_csv_per_group
data/test_npy
data/5-fold-npy
data/5-fold-mat
data/5-fold-npy.zip
data/6group_csv
data/all_plus_wind
data/dirty
data/wind_data

__pycache__
log.txt

imgs/acc*
imgs/loss*
imgs/resnet12
imgs/resnet14
imgs/resnet16
imgs/resnet18

ckps/resnet10
ckps/resnet12
ckps/resnet14
ckps/resnet34
ckps/transfer_learning
ckps/wind

logs/resnet34
logs/session.log

model/
